body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  
  #quiz {
    max-width: 5000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d4d4d4;
    border-radius: 5px;
  }
  
  h1 {
    text-align: left;
    color: black;
  }
  
  #question {
    margin-bottom: 20px;
    text-size-adjust: ;
  }
  